.main {
  padding: 16px;
}

.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 550px) {
  .calendarWrapper > * {
    transform: scale(0.6);
    transform-origin: top left;
    margin-bottom: -110px;
    margin-right: -115px;
  }

  .startWorkoutButton {
    padding: 25px;
    font-size: 16px;
    align-self: stretch;
  }
}

@media (min-width: 550px) {
  .calendarWrapper > * {
    transform: scale(0.8);
    transform-origin: top left;
    margin-bottom: -55px;
    margin-right: -40px;
  }
  .startWorkoutButton {
    /* padding: 30px 65px 30px 65px; */
    padding: 45px;
    font-size: 16px;
    align-self: center;
  }
}

.textStatistics {
  text-align: center;
  margin-top: var(--space-md);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.textStatistics p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.highlightedText {
  color: var(--color-primary);
  font-weight: bold;
}

.chart {
  display: flex;
  justify-content: center;
}
