/* === RESET === */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #ff7e14;
  --color-primary-hover: #ff6817;
  --color-background: #585656;
  --color-surface: #434141;
  --color-text: #f0f0f0;
  --color-muted: #6b7280;

  --font-main: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  --radius-sm: 6px;
  --radius-md: 12px;

  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-background);
  color: var(--color-text);
}
