.tile {
  background-color: var(--color-primary);
  border-radius: var(--radius-md);
  padding: var(--space-lg);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 100%;
  text-align: center;
  font-size: large;
   display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
}

.icon {
  grid-column: 1;
  font-size: 28px;
}

.tile:hover {
  transform: translateY(-2px);
  background-color: var(--color-primary-hover);
}
