.dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  width: 350px;
  background: var(--color-primary);
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 100;
}

.dropdown button {
  display: flex;
  align-items: center;
  gap: 24px;
  background: none;
  border: none;
  padding: 24px 24px;
  cursor: pointer;

  font-size: 1.1rem;
  text-align: left;
  color: var(--color-primary-text);
}

.dropdown button svg {
  font-size: 1.25rem;
  flex-shrink: 0;
}

.dropdown button:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.dropdown button:hover {
  background: var(--color-primary-hover);
}
