.page {
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
}

.page > * {
  width: 100%;
  max-width: 550px;
  background-color: var(--color-app-background);
}

@media (min-width: 550px) {
  .page > * {
    border-radius: var(--radius-lg);
    margin: 24px 0;
  }
}